@font-face {
  font-family: 'Google Sans Code';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/fonts/GoogleSansCode-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans Code';
  font-style: italic;
  font-weight: 300 700;
  font-display: swap;
  src: url('/fonts/GoogleSansCode-Italic.ttf') format('truetype');
}

* {
  font-family: 'Google Sans Code', ui-monospace, SFMono-Regular, 'SF Mono', Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-weight: 500;
}